/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2016, 10:00:26 AM
    Author     : krankai
*/

#welcome {
    color: #d9534f;
    text-align: center;
    width: 100%; 
    height: auto;
    margin-top: 130px;
    margin-bottom: 50px;
    
    font-family: 'Playfair Display', serif;
}

#welcome span {
    font-size: 50px;
    font-weight: bolder;
}

#manager-section {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    
}

.description {
    text-align: center;
    line-height: 1.4;
    width: 80%;
    height: 180px;
    padding-top: 15px;
    font-size: 15px;
    color: tomato;
    
    font-family: 'Playfair Display', serif;
}

.manager-button {
    width: 50%;
    margin: 0 auto;
}

span {
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
}