/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2016, 10:00:26 AM
    Author     : krankai
*/

#welcome {
    color: #d9534f;
    text-align: center;
    width: 100%; 
    height: auto;
    margin-top: 130px;
    margin-bottom: 50px;
    
    font-family: 'Playfair Display', serif;
}

#welcome span {
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
}

.manager-box {
    padding: 14px 14px 14px 14px;
}

.manager-box:hover {
    border: 4px solid red;
    border-style: double;
    padding: 10px 10px 10px 10px;
}

.description {
    text-align: center;
    line-height: 1.4;
    width: 100%;
/*    height: 230px;*/
    height: auto;
    font-size: 15px;
    color: tomato;
    
/*    font-family: 'Playfair Display', serif;*/
    font-family: sans-serif;
}

.manager-button {
    width: 50%;
    margin: 0 auto;
}

.description span {
    font-size: 17px;
    font-weight: bolder;
    font-style: italic;
    
    font-family: 'Playfair Display', serif;
}