<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserControl</servlet-name>
        <servlet-class>Control.UserControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JourneyProcessing</servlet-name>
        <servlet-class>Control.JourneyProcessing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>Control.ImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentControl</servlet-name>
        <servlet-class>Control.CommentControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>Control.UploadImage</servlet-class>
        <load-on-startup>0</load-on-startup>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>524288000</max-file-size>
            <max-request-size>524288000</max-request-size>
            <file-size-threshold>524288000</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EditLocation</servlet-name>
        <servlet-class>Control.EditLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserControl</servlet-name>
        <url-pattern>/UserControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JourneyProcessing</servlet-name>
        <url-pattern>/JourneyProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/ImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentControl</servlet-name>
        <url-pattern>/CommentControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLocation</servlet-name>
        <url-pattern>/EditLocation</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
</web-app>
