/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 6:30:51 PM
    Author     : user
*/
#body-display {
    height: auto;
    margin-top: 90px;
    margin-bottom: 20px;
}

#panel {
    background-image: url("../img/australia_panel.jpg");
    background-size: cover;
    height: 500px;
}

.wrapper-title {
    display: table;
    min-width: 40%;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 160px;
}

#title-block {
    height: auto;
    width: auto;
    vertical-align: middle;
    background-color: black;
    padding: 2em 1.5em 2em 1.5em;
}

.days {
    width: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.0;
    padding-left: 0.5em;
}

span.num-class {
    font-size: 3.5em;
    font-weight: 800;
    color: white;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.15em;
}

span.text-class {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    display: block;
}

.border {
    display: table-cell;
    border-right: white thin ridge;
    padding-left: 2em;
}

.title {
    width: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.5em;
    
    font-size: 2.8em;
    font-weight: 700;
    color: white;
}

.city-block {
    height: auto;
    text-align: center;
    background-color: #262626;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    vertical-align: middle;
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}

.number {
    font-size: 1.6em;
    font-weight: 600;
    margin-right: 5px;
}

.text-city {
    font-size: 1.7em;
    margin-left: 10px;
}

.wrapper-locations {
    height: auto;
    box-shadow: 0px 3px 3px 5px #888888;
}

.nav-style {
    font-size: 1.4em;
    font-weight: 600;
}

.block-text {
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-size: 1.5em;
    font-family: 'Lora', sans-serif;
}

.img-block {
    width: 250px;
}

.period-block {
    text-align: center;
    width: 200px;
    font-size: 1.5em;
    font-weight: 800;
}

.location-block {
    vertical-align: top;
    padding-left: 5px;
}

.day-title {
    font-weight: 600;
    font-style: italic;
    padding-left: 60px;
}

.choose-btn {
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
    font-size: 1.5em !important;
    font-weight: 200 !important;
}

.choose-btn:hover {
    background-color: #262626 !important;
    font-weight: 900 !important;
}

#form-button {
    text-align: center;
    padding-top: 20px;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

h2 a:visited {
    color: black;
    text-decoration: none;
}

h2 a:active {
    color: black;
    text-decoration: none;
}
