/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2016, 9:38:24 AM
    Author     : CREAT10N
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font: 12px Arial, Helvetica, sans-serif;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
#wrapper{
    margin: 0px auto;
    width: 100%;
    height: auto;
    display: none;
}
#header{
    background: #EC8585;
    height: 80px;
    width: 100%;
    padding-top: 10px;
    vertical-align: middle;
}
#header-name{
    background: #C66E6C;
    color: whitesmoke;
    font-size: 35px;
    /*color: #ECF0F1;*/
    width: 400px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: fantasy;
    font-style: normal;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;          
}
#body-content{
    height: 600px;
}
#background-slide{
    position: absolute;
    z-index: -1000;
}
#content{
    z-index: 1;
}
#logo-banner{
    margin-top: 150px;
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 250px;
}
#logo-bg{
    background-image: url(../img/hexa1.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
}
#guest-btn{
    font-size: 30px; 
    width: 100%; 
    height: 100%;
    line-height: 250px; 
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    color: whitesmoke;
}
#login{
    float: right;
    margin-top: 100px;
    margin-right: 200px;
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background: #2ECC71;
}
#login-banner{
    width: 100%;
    height: 50px;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;          
}
#login-form{
    margin-top: 30px;
    padding-left: 12%;
}
#reset-pass > a{
    float: right;
    margin-right: 20%;
    color: whitesmoke;
}
#login-button{
    width: 135px;
    border-radius: 15px;
}
#social-text{
    float: left;
    margin-left: 45px;
    padding-top: 8px;
    color: whitesmoke;
}
#social-link{
    clear: both;
    padding-top: 8px;
    height: 40px;
}
.social-logo{
    width: fit-content;
    float: left;
    margin-left: 30px;
}
#register-btn{
    clear: both;
    padding-top: 20px;
}
#register-button{
    width: 175px;
    border-radius: 15px;
}
#footer{
    border-top: 1px solid #34495E;
    margin-top: 65px;
    text-align: center;
    background-color: #34495E;
    color: whitesmoke;
    font-size: 30px;
}


/* Loading Screen Animation */
#loader {
    position: absolute;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: 100px 0 0 -50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
